# Gitignore to not commit database and other files to git

# Database files
*.db
*.sqlite3
*.dump

# Environment variables 
.env

# pycache files
*.pyc 

# shell scripts
*.sh 

# not sure what this is 
.DS_Store


